@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root{
    --royal-blue-dark: #3946d4;
    --royal-blue-white: #313999;
    --royal-blue-soon: #5b66e0;
    --black:#272D3B;
  --red:#ED176F;
  --coral:#F7817F;
  --gradient:linear-gradient(90deg, var(--red), var(--coral));
}

*{
  text-decoration: none; 
}

/*Modo dark*/




/*Complemento*/
body{
    padding: 0;
    margin: 0;
    
    font-family: sans-serif;
    text-decoration: none;
    
}

/*menu */
header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#272D3B;
  z-index: 10;
  padding:1rem 9%;
  border-bottom: .1rem solid #fff3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

header .logo{
  font-weight: bolder;
  color:#fff;
  font-size: 2.5rem;
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2.5rem;
  color:#fff;
  font-size: 24px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

header .navbar a:hover{
  color:#ED176F;
}

#menu-bar{
  font-size: 3rem;
  color:#fff;
  cursor: pointer;
  display: none;
}


.header-wrapper{
  height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #050404, #483D8B, #6A5ACD, #7B68EE);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
    
}

.conteudo{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.conteudo img{
  padding-top: 50px;
}

h1, h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Tilt Neon', cursive;
    color: 	#00BFFF;
}

.social-media{
    margin-top: 1rem;
    display: flex;
    font-family: 'Tilt Neon', cursive;
}

.social-media a{
    text-decoration: none;
    color: #00FF7F;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid var(--royal-blue-soon);
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
    
}

.social-media a:hover{
    color: white;
    background-color: var(--black);
}

@keyframes backgroundTransition{
    0%{
        background-position: 0% 80%;
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}

/*Menu hamburguer*/




/*Sobre mim*/
.about {

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #191970;
  }

  
  
   .a-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
  }
  
   .ilustra .a-img {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border: inset 7px rgb(42, 157, 177);
    border-top-width: 10px;
    border-bottom-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 5px;
  }

  .text-about{
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #00BFFF;
    /*color: rgb(109,109,109);*/
    text-align: justify;
    font-family: 'Poppins', sans-serif;
  }
  
  
  
  
  /*Essa é a principal do button*/
  .about .a-container .text-about div .redes .a-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 180px;
    border: 2px solid #00FF7F; 
       text-decoration: none;
       background-color: var(--royal-blue-dark);
       color: white;
       border-radius: 15px;
  }
  
  

/*Cards*/
h3{
    color: #00FF7F;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Tilt Neon', cursive;
    font-weight: bold;
}

.p-titulo{
    color: var(--royal-blue-dark);
    font-weight: bold;
}

.p-detalhes{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1caa;
    
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card{
    height: 300px;
    width: 400px;
    margin: 3rem 0 0;
    background-image: url('./Imagens/pexels-baskin-creative-studios-1576667.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border: inset 7px rgb(42, 157, 177);
    border-top-width: 10px;
    border-bottom-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 5px;
}

.card-text{
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #00BFFF;
    /*color: rgb(109,109,109);*/
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p{
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.card:hover > .card-wrapper::before{
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card:hover > .card-wrapper p{
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}

/*skills*/


/*HABILIDADES*/
.habilidades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 95vh;
    background-color: #191970;
  }
  
  .habilidades h3 {
    display: block;
  }
  
  .habilidades .container-habilidades {
    margin: auto 0;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .habilidades .container-habilidades .eventos {
    width: 50%;
  }
  
  .habilidades .container-habilidades .eventos h2 {
    color: white;
    font-size: 2em;
  }
  
  .habilidades .container-habilidades .eventos .evento {
    height: 250px;
    color: #00BFFF;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
  }
  
  .habilidades .container-habilidades .habi {
    width: 50%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .habilidades .container-habilidades .habi .box {
    margin: 10px;
    background-color: #101041;
    width: 20%;
    height: auto;
    border-radius: 8px;
  }
  
  .habilidades .container-habilidades .habi .box:hover {
    -webkit-box-shadow: 2px 2px 10px crimson;
            box-shadow: 2px 2px 10px crimson;
  }
  
  .habilidades .container-habilidades .habi .box img {
    width: 100%;
    padding: auto;
    padding-top: 7px;
  }
  
  .habilidades .container-habilidades .habi .box h2 {
    font-size: 1em;
    color: white;
    padding: 5px;
  }

  /*contato*/
.contato{
  
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  width: 100%;
  height: 75vh;
  background-color: #1c1caa;
}

.t-contato{
  text-align: center;
 
  color: #00FF7F;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Tilt Neon', cursive;
    font-weight: bold;
}

.nome-e, .nome-n, .nome-m {
  color: #00BFFF;
  font-family: 'Poppins', sans-serif;
  
}

#nome{
  height: 17px;
  border-radius: 15px;
  border: inset 7px rgb(42, 157, 177);
}

#message{
  height: 30px;
  border-radius: 15px;
  border: inset 7px rgb(42, 157, 177);
}

#email{
  border-radius: 15px;
  border: inset 7px rgb(42, 157, 177);
    
}

.container-for {
  padding: 0px 50px;
}

.contact-form input{
  width: 100%;
  padding: 8px 0;
  margin: 8px 0;
}

.contact-form input[type=text] {
  height: 100px;
}

button {
  color: black;
  background-color: rgb(42, 157, 177);
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  font-family: 'Tilt Neon', cursive;
}

button:hover{
  transition: .1s ease-in-out;
  cursor: pointer;
  background-color: #00FF7F;
  font-size: 16px;
  color:red;
  font-family: 'Poppins', sans-serif;
}

/*footer*/
.footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--royal-blue-dark);
}

.pzin{
  color: #00FF7F;
  font-family: 'Tilt Neon', cursive;
}


/*Responsivo*/
@media (max-width: 1323px) {
  .conteudo{
    padding-top: 55px;
  }
}

@media (max-width: 1024px) {
    /*SOBRE DA PÁGINA  */
  .about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            flex-direction: column;
  }
  .about .a-container {
    width: 95%;
    padding: 10px;
    justify-content: center;
    align-items: end;
    align-content: center;
  }
  .about .a-container .ilustra {
    display: none;
  }
  .about .a-container .text-about {
    margin-top: 60px;
    width: 90%;
        margin-top: 2rem;
        text-align: center;
        text-align: justify;
  }
  .about .a-container .text-about .you-about {
    text-align: center;
    width: 90%;
        margin-top: 2rem;
        text-align: center;
        text-align: justify;
  }
  .about .a-container .text-about .p1 .p2 .p3 {
    font-size: 16px;
    padding-right: 20px;
    width: 90%;
        margin-top: 2rem;
        text-align: center;
        text-align: justify;
  }

  /*HABILIDADES*/
  .habilidades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    
  }
  .habilidades .container-habilidades {
    margin: auto 0;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  .habilidades .container-habilidades .eventos {
    margin-top: 50px;
    width: 80%;
    text-align: center;
  }
  .habilidades .container-habilidades .eventos h2 {
    color: white;
    font-size: 2em;
  }
  .habilidades .container-habilidades .eventos .evento {
    height: 150px;
    color: white;
    padding: 10px;
    font-size: 1.2em;
  }
  .habilidades .container-habilidades .habi {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  .habilidades .container-habilidades .habi .box {
    margin-bottom: 5px;
    background-color: #101041;
    width: 20%;
    border-radius: 8px;
  }
  .habilidades .container-habilidades .habi .box img {
    width: 60%;
    padding: 10px;
  }
  .habilidades .container-habilidades .habi .box h2 {
    font-size: 1em;
    color: white;
    padding: 5px;
  }
}

@media (max-width:991px){
  header{
    padding:2rem 4%;
  }
}

@media (max-width:800px){
    .social-media{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .container{
        margin-top: 0;
    }


    .card-container{
        flex-direction: column;
    }

    .container .card-container:nth-child(2),
    .container .card-container:nth-child(4){
        flex-direction: column-reverse;
    }

    .card{
        height: 250px;
        width: 250px;
    }

    .card-text{
        width: 90%;
        margin-top: 2rem;
        text-align: center;
        text-align: justify;
    }

    .card:hover > .card-wrapper::before{
        height: 100px;
        width: 220px;
    }

    .card-wrapper h2{
        font-size: 30px;
    }

    
}


@media (max-width: 768px) {
  .conteudo{
    padding-top: 5.5rem;
  }

  #menu-bar{
    display: block;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background:var(--black);
    border-top: .1rem  solid #fff3;
    padding:1rem 2rem;
    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle{
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    margin:1.5rem 0;
    padding:1rem;
    background:var(--gradient);
    text-align: center;
    border-radius: .5rem;
  }

  header .navbar a:hover{
    color:var(--black);
  }

    /*SOBRE DA PÁGINA  */
  .about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .a-container {
    width: 80%;
    padding: 10px;
  }
  .about .a-container .ilustra {
    display: none;
  }
  
  .about .a-container .text-about .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 25px;
  }
  .about .a-container .text-about .you-about {

    font-size: 1.8em;
  }
  .about .a-container .text-about .p1 .p2 .p3 {
    font-size: 1.2em;
    padding-right: 20px;
  }

  /*habilidades*/
    .habilidades {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        
      }
      .habilidades .container-habilidades {
        margin: auto 0;
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: 100%;
      }
      .habilidades .container-habilidades .eventos {
        margin-top: 50px;
        width: 80%;
        text-align: center;
      }
      .habilidades .container-habilidades .eventos h2 {
        color: white;
        font-size: 2em;
      }
      .habilidades .container-habilidades .eventos .evento {
        height: 150px;
        color: white;
        padding: 10px;
        font-size: 1.2em;
      }
      .habilidades .container-habilidades .habi {
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: 100%;
      }
      .habilidades .container-habilidades .habi .box {
        margin-bottom: 5px;
        background-color: #101041;
        width: 20%;
        border-radius: 8px;
      }
      .habilidades .container-habilidades .habi .box img {
        width: 60%;
        padding: 10px;
      }
      .habilidades .container-habilidades .habi .box h2 {
        font-size: 0.6em;
        color: white;
        padding: 5px;
      }
}



@media (max-width: 500px) {
    /*SOBRE DA PÁGINA  */
  .about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .a-container {
    width: 88%;
    padding: 10px;
  }
  .about .a-container .ilustra {
    display: none;
  }
  .about .a-container .text-about {
    margin-top: 60px;
  }
  .about .a-container .text-about .you-about {
    text-align: center;
  }
  .about .a-container .text-about .p1 .p2 .p3 {
    font-size: 16px;
    padding-right: 20px;
  }
  .about .a-container .text-about div .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .about .a-container .text-about div .redes .a-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    display: flex;
    text-align: center;
    margin-right: 20px;
    width: 150px;
    border: 2px solid;
    
  }
  .about .a-container .text-about div .redes .a-a img {
    width: 1.8em;
  }
  .about .a-container .text-about div .redes .a-a .p1 .p2 .p3 {
    font-size: 1em;
    margin-top: 15px;
    font-family: monospace;
  }

  /*habilidades*/
    .habilidades {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
       
      }
      .habilidades .container-habilidades {
        margin: auto 0;
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: 100%;
      }
      .habilidades .container-habilidades .eventos {
        margin-top: 50px;
        width: 80%;
        text-align: center;
      }
      .habilidades .container-habilidades .eventos h2 {
        color: white;
        font-size: 1.2em;
      }
      .habilidades .container-habilidades .eventos .evento {
        height: 150px;
        color: white;
        padding: 10px;
        font-size: 1em;
      }
      .habilidades .container-habilidades .habi {
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: 100%;
      }
      .habilidades .container-habilidades .habi .box {
        margin: 8px;
        background-color: #101041;
        width: 24%;
        border-radius: 8px;
      }
      .habilidades .container-habilidades .habi .box img {
        width: 80%;
        padding: 10px;
      }
      .habilidades .container-habilidades .habi .box h2 {
        font-size: 0.5em;
        color: white;
        padding: 5px;
      }
}
